.registration-card {
  margin: auto;
  max-width: 450px;
}

div.registration-form-group-username,
div.registration-form-group-password,
div.registration-form-group-email {
  margin-bottom: 20px;
}

.button-registration-view {
  margin-top: 20px;
}
