.registration-container {
  height: 100vh;
}

.registration-card {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 450px;
}

div.registration-form-group-username,
div.registration-form-group-password,
div.registration-form-group-email {
  margin-bottom: 20px;
}

.button-registration-view {
  margin-top: 20px;
}
