.movie-textarea.card-body {
  padding: 0 15px 0 0;
}

span.movie-description {
  display: block;
  padding-bottom: 15px;
}

div.movie-genre-description,
div.movie-actors {
  display: block;
  padding-bottom: 15px;
}

.label {
  font-weight: bold;
}

.button-movie-view-add-favorite {
  position: absolute;
  right: 10px;
}
