.login-container {
  height: 100vh;
}

.login-card {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 450px;
}

div.login-form-group-username {
  margin-bottom: 20px;
}

.button-login-view {
  margin-top: 20px;
  margin-right: 20px;
}
